footer {
    // height: 60px;
    background-color: #000000;
    padding: 28px 0; // margin-top: 100px;
    position: relative;
    .container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100%;
        max-width: 1180px;
    }

    .copyright {
        font-size: 16px;
        font-weight: 300;
        color: #ffffff;
        &__company {
            color: $c-pink;
            a {
                color: inherit;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .footer-links {
        display: flex;

        &__item {
            font-weight: 300;
            margin-left: 33px;
            letter-spacing: 0.1px;
            a {
                color: $c-pink;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.top-arrow {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 30px;
    width: 30px;
    margin: auto;
    transition: 0.2s;
    cursor: pointer;
    opacity: 0;
    visibility: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    &.opened {
        opacity: 1;
        visibility: visible;
    }
    .mdi {
        color: #ed2984;
        font-size: 18px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        transition: 0.2s;
    }
    &:hover {
        .mdi {
            color: white;
        }
        background: $c-pink;
    }
}