footer {
    // height: 60px;
    background-color: #000000;
    padding: 28px 0; // margin-top: 100px;
    position: relative;
    .container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100%;
        max-width: 1180px;
    }

    .copyright {
        font-size: 16px;
        font-weight: 300;
        color: #ffffff;
        &__company {
            color: $c-pink;
        }
    }

    .footer-links {
        display: flex;

        &__item {
            font-weight: 300;
            margin-left: 33px;
            letter-spacing: 0.1px;
            a {
                color: $c-pink;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .top-arrow {
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        height: 30px;
        width: 30px;
        margin: auto;
        transition: 0.2s    ;
        cursor: pointer;
        .icon {
            transition: 0.2s;
        }
        &:hover {
            .icon.icon-top-arrow {
                background: url(img/long-arrow-pointing-up-white.svg) no-repeat;
            }
            background: $c-pink;
        }
    }
}