body {
    font-family: 'Rubik', sans-serif;
    min-width: 300px; // overflow-x: hidden;
    animation-duration: 2s;
    animation-name: initialize;
}

a {
    color: black;
}

main {}

.container {
    width: 100%;
    max-width: 1210px;
    margin: auto;
    padding: 0 20px;
}

h1 {
    font-size: 48px;
}

.title {
    font-size: 48px;
    text-align: center;
    font-weight: 600;
    line-height: 1.5em;
    position: relative;

    &[data-animate="true"] {
        &:before {
            transform: translateX(0px);
            opacity: 1;
            visibility: visible;
        }
        h1 {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
    }

    &-middle {
        font-weight: 400;
    }
    h1 {
        position: relative;
        z-index: 1;
        transform: translateY(150px);
        opacity: 0;
        visibility: hidden;
        transition: 1s ease;
        line-height: 1.5em;
    }
    &:before {
        content: '';
        width: 30px;
        height: calc(100% + 5px);
        left: 0;
        background: $c-form-bg;
        right: 0;
        margin: auto;
        position: absolute;
        z-index: 0;
        transition: 1s ease;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-300px);
    }
}

.top-block {
    background: url(img/main_screen_bg.png) no-repeat center;
    height: 100vh;
    position: relative;
    background-size: cover;
    padding-top: 25px;
    min-height: 700px;
    overflow: hidden;
    &__info {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap; // transform: translateX(100%);
        // transition: 1s ease;
        animation-fill-mode: forwards;
        $c: &;
        &:before {
            content: '';
            background: rgba(255, 255, 255, 0.85);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }
        &[data-animate="true"]:before {
            // transform: translateX(0);
            animation-duration: 1s;
            animation-name: slideinRight;
        }

        &_wrapper {
            width: 800px;
            padding: 191px 30px 100px 130px;
        }
        &_title {
            font-size: 36px;
            line-height: 1.5em;
            position: relative;
            padding: 12px 0 5px 0;
            opacity: 0;
            animation-fill-mode: forwards;
            &[data-animate="true"] {
                animation-duration: 1.5s;
                animation-name: slideinRight; // animation-delay: 1s;
            }

            b {
                display: block;
            }
            &:before {
                content: '';
                left: -13px;
                width: 30px;
                height: 100%;
                background: #fff;
                position: absolute;
                top: 3px;
            }
        }
        &_descr {
            margin-top: 82px;
            font-size: 18px;
            width: 90%;
            opacity: 0;
            line-height: 1.5em;
            animation-fill-mode: forwards;
            &[data-animate="true"] {
                animation-duration: 2s;
                animation-name: slideinRight;
            }
        }
        .btn {
            opacity: 0;
            animation-fill-mode: forwards;
            margin-top: 22px;
            padding: 27px 74px;
            &[data-animate="true"] {
                animation-duration: 2.5s;
                animation-name: slidein;
                animation-delay: 0.3s;
            }
        }
    }
}




.reasons {
    padding-top: 121px;
    position: relative;
    padding-bottom: 562px;
    .container {
        padding: 0 0px 0 30px;
        max-width: 1200px;
        position: relative;
        z-index: 1;
    }

    &__girl-bg {
        background: url(img/reasons_bg.png) no-repeat;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background-position: center bottom;


        transition: 1.5s ease;
        opacity: 0;
        visibility: hidden;
        transform: translateY(200px);
        $c: &;
        &-animation {
            &[data-animate="true"]+#{$c} {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
    &__list {
        display: flex; // align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 117px; // $c: &;
        &_item {
            position: relative;
            width: calc(100% / 3 - 0px);
            margin-bottom: 65px;
            padding-left: 83px;
            opacity: 0;
            animation-fill-mode: forwards;
            transition: 0.3s;
            $c: &;
            &[data-animate="true"] {
                &:nth-child(1) {
                    animation-duration: 1s;
                    animation-name: slidein;
                    animation-delay: 0s;
                }
                &:nth-child(2) {
                    animation-duration: 1s;
                    animation-name: slidein;
                    animation-delay: 0.3s;
                }
                &:nth-child(3) {
                    animation-duration: 1s;
                    animation-name: slidein;
                    animation-delay: 0.6s;
                }
                &:nth-child(4) {
                    animation-duration: 1s;
                    animation-name: slidein;
                    animation-delay: 0s;
                }
                &:nth-child(5) {
                    animation-duration: 1s;
                    animation-name: slidein;
                    animation-delay: 0.3s;
                }
                &:nth-child(6) {
                    animation-duration: 1s;
                    animation-name: slidein;
                    animation-delay: 0.6s;
                }
            }
            &:nth-child(1) {

                #{$c}_img:after {
                    background: url(img/official_work.svg) no-repeat;
                }
            }
            &:nth-child(2) {
                #{$c}_img:after {
                    background: url(img/free_time.svg) no-repeat;
                }
            }
            &:nth-child(3) {
                #{$c}_img:after {
                    background: url(img/ready-made_system.svg) no-repeat;
                }
            }
            &:nth-child(4) {
                #{$c}_img:after {
                    background: url(img/step_learning.svg) no-repeat;
                }
            }
            &:nth-child(5) {
                #{$c}_img:after {
                    background: url(img/world_travel.svg) no-repeat;
                }
            }
            &:nth-child(6) {
                #{$c}_img:after {
                    background: url(img/team.svg) no-repeat;
                }
            }
            &_img {
                border-radius: 100%;
                width: 110px;
                position: absolute;
                height: 110px;
                background: $c-pink-light;
                top: 0;
                left: 0; // position: relative;
                // img {
                //     width: 100%;
                // }
                &:after {
                    content: '';
                    background-position: center!important;
                    width: 40px;
                    height: 40px; // position: absolute;
                    @include absolute-center;
                }
            }
            &_title {
                font-size: 24px;
                line-height: 1.5em;
                font-weight: 600;
                margin-top: 20px;
                position: relative;
                letter-spacing: 0.3px;
            }
            &_descr {
                margin-top: 21px;
                font-size: 16px;
                line-height: 1.5em;
                position: relative;
                width: 90%;
            }
        }
    }
}


.audience {
    background: url(img/reasons_bg.png) no-repeat;
    background-size: cover;
    min-height: 500px;
    background: #000;
    position: relative;
    z-index: 1;
    .container {}
    .title {
        color: #fff;
    }

    &__list {
        display: flex; // align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 87px;
        &_item {
            width: calc(100%/4);
            position: relative;
            $c: &;
            padding: 120px 5% 115px 121px;
            border-right: 1px solid #333333;
            transition: 1s ease;
            transform: scale(0.6);
            &[data-animate="true"] {
                transform: scale(1);
            }
            &:hover {
                background: $c-pink-light;
            }
            &:nth-child(1) #{$c}_img {
                background: url(img/mothers.svg) no-repeat;
            }
            &:nth-child(2) #{$c}_img {
                background: url(img/housewife.svg) no-repeat;
            }
            &:nth-child(3) #{$c}_img {
                background: url(img/girls.svg) no-repeat;
            }
            &:nth-child(4) #{$c}_img {
                background: url(img/couple.svg) no-repeat;
            }
            &_img {
                width: 100px;
                height: 100px;
                top: 0;
                left: 0;
                &:after {
                    content: '';
                    background-position: center!important;
                    width: 40px;
                    height: 40px;
                }
            }
            &_title {
                margin-top: 42px;
                font-size: 26px;

                font-weight: 600;
                color: $c-pink;
            }
            &_descr {
                margin-top: 35px;
                font-size: 16px;
                color: #fff;
                line-height: 1.5em;
                font-weight: 300;
            }
        }
    }
}

.join-system {
    margin-top: 121px;
    overflow: hidden;
    .container {
        max-width: 1920px;
        padding: 0 85px;
    }
    &__list {
        display: flex; // align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 49px;
        &_item {
            width: calc(100%/3 - 15px);
            position: relative;
            // max-height: 445px;

            display: flex;
            align-items: center;
            margin-top: 80px;
            $c: &;

            &:nth-child(1) #{$c}_info[data-animate="true"] {
                animation-duration: 1s;
                animation-name: slideinRight;
                animation-delay: 0s;
            }
            &:nth-child(2) #{$c}_info[data-animate="true"] {
                animation-duration: 1s;
                animation-name: slideinRight;
                animation-delay: 0.3s;
            }
            &:nth-child(3) #{$c}_info[data-animate="true"] {
                animation-duration: 1s;
                animation-name: slideinRight;
                animation-delay: 0.6s;
            }
            &:nth-child(4) #{$c}_info[data-animate="true"] {
                animation-duration: 1s;
                animation-name: slideinRight;
                animation-delay: 0s;
            }
            &:nth-child(5) #{$c}_info[data-animate="true"] {
                animation-duration: 1s;
                animation-name: slideinRight;
                animation-delay: 0.3s;
            }
            &:nth-child(6) #{$c}_info[data-animate="true"] {
                animation-duration: 1s;
                animation-name: slideinRight;
                animation-delay: 0.6s;
            }

            &:hover {
                #{$c}_info {
                    background: #000;
                    &_title {
                        color: $c-pink;
                    }
                    &_descr {
                        color: #fff;
                    }
                }
            }
            &_img {
                font-size: 0;
                // width: 100%;
                width: calc(50% + 100px);
                max-width: 320px;
                // position: absolute;
                top:0;
                img {
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            &_info {
                width: 320px;
                margin: auto;
                background: #fff;
                padding: 70px 36px 70px 50px;
                position: relative; // transition: 1s ease;
                // visibility: hidden;
                transform: translateX(200px);
                opacity: 0;
                height: 86%;
                margin: auto;
                position: absolute;
                left: 43%;
                top: 0;
                bottom: 0;
                transition: 1s;
                // box-shadow: 15px 20px 42px -28px #00000036;
                animation-fill-mode: forwards; // &[data-animate="true"] {
                //     transform: translateX(0);
                //     opacity: 1;
                //     visibility: visible;
                // }
                &_title {
                    margin-top: 26px;
                    font-size: 18px;
                    font-weight: 600;
                    color: #000;
                    transition: 0.2s ease;
                    line-height: 1.5em;
                }
                &_descr {
                    margin-top: 18px;
                    font-size: 16px;
                    color: #fff;
                    line-height: 1.5em;
                    color: #000;
                    transition: 0.2s ease;
                }
            }
        }
    }
}

.prosperity {
    margin-top: 121px;
    overflow: hidden;
    .container {
        max-width: initial;
        padding: 0;
    }

    &__list {
        display: flex; // align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 47px;
        &_item {
            width: calc(100%/4);
            position: relative;
            height: 605px; // display: flex;
            // flex:wrap;
            // align-items: center;
            margin-top: 80px;
            padding: 214px 65px 220px 117px;
            border-right: 1px solid $c-pink-light;
            opacity: 0;
            visibility: hidden;
            transform: translateX(100%);
            transition: 1s ease;
            animation-fill-mode: forwards;
            $c: &;

            &[data-animate="true"] {
                &:nth-child(1) {
                    animation-duration: 1s;
                    animation-name: slideinRight;
                    animation-delay: 0s;
                }
                &:nth-child(2) {
                    animation-duration: 1s;
                    animation-name: slideinRight;
                    animation-delay: 0.5s;
                }
                &:nth-child(3) {
                    animation-duration: 1s;
                    animation-name: slideinRight;
                    animation-delay: 1s;
                }
                &:nth-child(4) {
                    animation-duration: 1s;
                    animation-name: slideinRight;
                    animation-delay: 1.5s;
                }
            }
            &:last-child {
                border: none;
            }

            &:hover {
                #{$c} {
                    &_number {
                        color: $c-pink;
                    }
                }
            }
            &_number {
                font-size: 270px;
                top: 36px;
                position: absolute;
                color: #ffd5e1;
                line-height: 0;
                left: -79px;
                z-index: -1;
                transition: 0.2s ease;
            }

            &_info {
                position: relative;
                position: absolute; // padding-left: 50px;
            }
            .btn {
                margin-top: 36px;
                padding: 17px 30px;
                letter-spacing: 2.4px;
            }
            &_title {
                // margin-top: 28px;
                font-size: 30px;
                font-weight: 600;
                color: #000;
                transition: 0.2s ease;
                line-height: 1.5em;
            }
            &_descr {
                margin-top: 33px;
                font-size: 16px;
                color: #fff;
                line-height: 1.5em;
                color: #000;
                padding: 0 80px 0 0;
                transition: 0.2s ease;
            }
        }
    }
}

.sign-up {
    overflow: hidden;
    &.secondary {
        margin-top: 100px;
    }
    .container {
        display: flex;
        padding: 0;
        max-width: initial;
        min-height: 924px;
    }
    &__form {
        width: 50%;
        background: $c-form-bg;
        padding: 205px 35px 181px 111px;
        // display: flex;
        // align-items: center;
        opacity: 0;
        animation-fill-mode: forwards;
        $c: &;
        &[data-animate="true"] {
            animation-duration: 1s;
            animation-name: slideinLeft;
            animation-delay: 0s;
        }
        &.secondary {
            &[data-animate="true"] {
                animation-name: slideinRight;
            }
            #{$c}_title {
                animation-name: slideinRight;
            }
        }
        form {
            width: 90%;
        }
        &_title {
            font-size: 72px;
            font-weight: 800;
            position: relative;
            opacity: 0;
            animation-fill-mode: forwards;
            &[data-animate="true"] {
                animation-duration: 1.5s;
                animation-name: slideinLeft;
                animation-delay: 0s;
            }
            &:before {
                content: '';
                left: -13px;
                width: 30px;
                height: calc(100% + 17px);
                background: #fff;
                position: absolute;
                top: -5px;
                z-index: 0;
            }
            h1 {
                font-size: 72px;
                position: relative;
                // line-height: 1.5em; // word-break: break-all;
            }
        }
        &_descr {
            font-size: 30px;
            line-height: 1.5em;
            font-weight: 400;
            position: relative;
        }
        &_pre {
            margin-top: 86px;
            margin-bottom: 26px;
            font-size: 18px;
            line-height: 1.5em;
        }
        .btn {
            padding: 26px 69px;
            font-size: 13px;
        }
        &_input {
            position: relative;
            border: none;
            margin-bottom: 10px;
            padding: 27px 71px;
            outline: none;
            width: 500px;
            font-size: 12px;
            letter-spacing: 1.7px;
            &::-webkit-input-placeholder {
                color: #000;
            }
            &::-moz-placeholder {
                color: #000;
            }
            /* Firefox 19+ */
            &:-moz-placeholder {
                color: #000;
            }
            /* Firefox 18- */
            &:-ms-input-placeholder {
                color: #000;
            }

            &:focus {
                // box-shadow: 0 0 1px 0px #000;
            }
            &.has-error {
                // box-shadow: none;
                border: 2px solid #ed1c24;
            }
            &.valid {
                border: 2px solid #00a651;
            }
        }
    }
    &__bg {
        width: 50%;
        background: url(img/faberlic_cta1.png) no-repeat;
        background-position: center;
        background-size: cover; // background-position: center;
        opacity: 0;
        animation-fill-mode: forwards;
        border-top: 1px solid #f1f1f1;
        &[data-animate="true"] {
            animation-duration: 1s;
            animation-name: slideinRight;
            animation-delay: 0s;
        }
        &.secondary {
            background: url(img/faberlic_cta2.png) no-repeat;
            background-position: center;
            background-size: cover; // background-position: center;
            &[data-animate="true"] {
                animation-name: slideinLeft;
            }
        }
    }
}

.facts {
    margin-top: 120px;
    overflow: hidden;
    .container {
        display: flex;
        padding: 0;
        max-width: initial;
        padding-top: 123px;
    }
    &__counter {
        width: 54%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        >div {
            width: 70%;
        }
        &_item {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 56px;
            $c: &;
            transition: 1s ease;
            opacity: 0;
            transform: translateX(-200px);
            visibility: hidden;
            &[data-animate="true"] {
                opacity: 1;
                transform: translateX(0);
                visibility: visible;
            }
            &_col {
                width: 46%;
            }
            &_title {
                color: $c-pink;
                font-weight: 600;
                text-align: right;
                margin-top: 30px;
                font-size: 24px;
            }
            &_more {
                font-weight: 600;
            }
            &_descr {
                text-align: right;
                margin-top: 14px;
                line-height: 1.5em;
            }
            &_amount {
                line-height: 115px;
                color: $c-pink;
                font-size: 108px;
            }
        }
    }
    &__slide {
        width: 46%;
        padding-left: 103px;
        $c: &;
        &[data-animate="true"] #{$c}_img {
            opacity: 1;
            transform: translateX(0);
            visibility: visible;
        }
        &_img {
            position: relative;
            display: inline-block;
            transition: 1s ease;
            opacity: 0;
            visibility: hidden;
            transform: translateX(200px);
            font-size: 0;
            &:after {
                content: '';
                position: absolute;
                z-index: -1;
                background: #000;
                left: -50px;
                top: 20px;
                width: 100%;
                height: 100%;
            }
            img {
                max-width: 777px;
                max-height: 500px;
                width: 100%;
            }
        }
    }
}

.success {
    margin-top: 192px;
    overflow: hidden;
    .container {
        padding: 0 88px;
        max-width: initial;
    }

    &__subtitle {
        font-size: 16px;
        margin-top: 24px;
        text-align: center;
        line-height: 1.5em;
    }
}

.contacts {
    margin-top: 121px;
    margin-bottom: 120px;
    overflow: hidden;
    $c: &;
    .container {
        width: 50%;
        margin: auto;
        position: relative;
        &[data-animate="true"] {
            #{$c}__img,
            #{$c}__info {
                opacity: 1;
                transform: translateX(0);
                visibility: visible;
            }
        }
    }
    &__img {
        font-size: 0;
        width: 100%;
        max-width: 751px;
        margin: 87px auto 0;
        transition: 1s ease;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-200px);
        img {
            width: 100%;
            max-width: 400px;
            max-height: 400px;
        }
    }
    &__info {
        width: 53%;
        margin: auto;
        background: #fff;
        padding: 76px 30px 70px 63px;
        position: relative;
        transition: 0.2s ease;
        opacity: 0;
        height: 86%;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        transition: 1s ease;
        transform: translateX(200px);
        &_name {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 56px;
        }
        &_text {
            font-size: 18px;
            margin-bottom: 14px; // padding-left: 34px;
            cursor: pointer;
            display: flex;
            align-items: center;
            white-space: nowrap;
            &:hover {
                a {
                    color: $c-pink;
                }
            }
            .mdi {
                margin-right: 17px;
                &.mdi-skype {
                    position: relative;
                    top: 2px;
                }
                &.mdi-email {
                    position: relative;
                    top: 1px;
                }
            }
            a {
                position: relative;
                transition: 0.3s;
            }
        }
    }
}

@keyframes initialize {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



@keyframes slidein {
    from {
        transform: translateY(200px);
        opacity: 0;
        visibility: hidden;
    }

    to {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes slideinDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
    }

    to {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}


@keyframes slideinRight {
    from {
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
    }

    to {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes slideinLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
    }

    to {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}