/* MOBILES */

.desktop {
    display: block;
}

.mobile {
    display: none;
}

//desktop
@media screen and (max-width: 1800px) {
    .join-system__list_item_info {}
    .sign-up__form_title h1 {
        font-size: 62px;
    }


    .join-system {
        margin-top: 80px;
        .container {
            padding: 0 20px;
            max-width: 1180px;
        }
        &__list {
            justify-content: initial;
            &_item {

                margin-top: 40px;
                width: 50%; // justify-content: center;
                $c: &;
                &:nth-child(1) #{$c}_info[data-animate="true"] {
                    animation-delay: 0s;
                }
                &:nth-child(2) #{$c}_info[data-animate="true"] {
                    animation-delay: 0.3s;
                }
                &:nth-child(3) #{$c}_info[data-animate="true"] {
                    animation-delay: 0s;
                }
                &:nth-child(4) #{$c}_info[data-animate="true"] {
                    animation-delay: 0.3s;
                }
                &:nth-child(5) #{$c}_info[data-animate="true"] {
                    animation-delay: 0s;
                }
                &:nth-child(6) #{$c}_info[data-animate="true"] {
                    animation-delay: 0.3s;
                }

                &:hover {
                    #{$c}_info {
                        background: #fff;
                        &_title {
                            color: initial;
                        }
                        &_descr {
                            color: initial;
                        }
                    }
                }

                &_info {
                    left: 240px;
                    &_title {

                        font-size: 18px;
                    }
                }
                &_img {}
            }
        }
    }
}

@media screen and (max-width: 1660px) {
    .audience__list_item {
        padding: 120px 4% 115px 4%;
        &_title {
            font-size: 24px;
        }
    }
    .top-block__info_title {
        font-size: 30px;
    }
    .top-block__info_descr {}
    .top-block__info_wrapper {
        padding-left: 50px;
        padding-right: 35px;
    }

    .prosperity__list_item_descr {
        padding: 0 25px 0 0;
    }


    .facts__counter>div {
        width: 80%;
    }
    .slider__item_descr {
        margin-top: 68px;
    }
}


//LAPTOP
@media screen and (max-width: 1440px) {

    .audience__list_item {
        padding: 120px 3% 115px 4%;
    }

    .slider {
        // display: none;
        &__scroller {
            flex-wrap: wrap;
        }
        &__arrows {
            display: none;
        }

        &__item {
            width: calc(100%/2 - 20px);
            &.slideOutUpLeft,
            &.slideOutUpRight {
                &:nth-child(2n + 1) {
                    margin-left: 0;
                    animation-delay: 0s;
                }
                &:nth-child(2n + 2) {
                    margin-left: calc(100%/2 + 15px);
                    animation-delay: 0s;
                }
            }
        }
    }
    .join-system__list_item_info {}
    .join-system {
        .container {
            // padding: 0 50px;
        }
    }
    .audience__list_item_descr {
        // font-size: 15px;
    }

    .prosperity__list_item_title {
        font-size: 28px;
        br {
            display: none;
        }
    }
    .prosperity__list_item_number {
        font-size: 210px;
        left: -66px;
    }
    .prosperity__list_item {
        padding: 214px 65px 220px 92px;
    }
    .sign-up__form_title h1 {
        font-size: 58px;
    }
    .sign-up .container {
        min-height: auto;
    }
    .sign-up__form form {
        width: 95%;
    }
    .sign-up__form {
        padding: 205px 35px 181px 88px;
        &_input {
            width: 450px;
        }
    }
    .sign-up__form_descr {
        font-size: 24px;
    }
    .sign-up__form_pre {
        font-size: 16px;
    }
    .success {
        margin-top: 100px;
    }
}

@media screen and (max-width: 1366px) {
    .audience__list_item_descr {}
    .prosperity__list_item_title {
        font-size: 26px;
    }
    .audience__list_item {
        padding: 120px 2% 115px 3%;
    }

    .sign-up__form_title h1 {
        font-size: 50px;
    }

    .join-system__list_item_img {}

    .join-system__list_item_info {}
}

@media screen and (max-width: 1280px) {
    // .audience__list_item {
    //     padding: 120px 2% 115px 2%;
    // }
    .prosperity__list_item {
        padding: 214px 56px 130px 78px;
    }
    .prosperity__list_item_descr {
        padding: 0 20px 0 0;
    }

    .prosperity__list_item .btn {
        padding: 17px 16px;
    }
    .sign-up__form_title h1 {
        font-size: 44px;
    }
    .facts__counter>div {
        width: 95%;
    }

    .sign-up__form form {
        width: 90%;
    }
    .sign-up__form_input {
        width: 100%;
    }
}


@media screen and (min-width: 1113px) {
    .dropdown-menu {
        display: none;
    }
}

//TABLETS
@media screen and (max-width: 1112px) {
    header {
        top: 0;
        padding: 0;
        .container {
            height: 70px;
            padding: 0 20px;
        }
        .logo {
            width: auto;
            img {
                padding: 5px;
            }
        }
        .hamburger {
            display: block;
        }
    }
    .title {
        font-size: 36px;
        padding: 0 10px;
        h1 {
            font-size: 36px;
        }
    }
    .top-block {
        height: auto;
        min-height: initial;
    }
    .top-block__info {
        width: 100%;
        position: static;
        align-items: initial;
        height: initial;
        padding-top: 70px;
        &_title {
            padding: 0;
            font-size: 36px;
            text-align: center;
            &:before {
                content: none;
            }
            &[data-animate="true"] {
                animation-duration: 1.5s;
            }
        }
        &_descr {
            margin: 70px auto 0;
            width: 80%;
            text-align: center;
            &[data-animate="true"] {
                animation-duration: 2s;
            }
        }
        .btn {
            margin: 40px auto 0;
            display: block;
            padding: 27px 30px;
            &[data-animate="true"] {
                animation-duration: 1s;
                animation-delay: 0s;
            }
        }
        &_wrapper {
            width: 100%;
            padding: 110px 130px;
        }
    }
    .audience {
        &__list {
            &_item {
                width: 50%;
                padding: 60px 70px;
                border: none;
                &_img {
                    margin: auto;
                    background-position: center!important;
                }
                &_title,
                &_descr {
                    text-align: center;
                }
            }
        }
    }

    .audience__list_item_descr {}
    .reasons {
        padding-top: 80px;
        .container {
            padding: 0 20px;
        }
        &__list {
            margin-top: 80px;
            &_item {
                padding-left: 55px;
                width: 48%;
                margin-bottom: 45px;
                $c: &;
                &[data-animate="true"] {
                    &:nth-child(1) {
                        animation-delay: 0s;
                    }
                    &:nth-child(2) {
                        animation-delay: 0s;
                    }
                    &:nth-child(3) {
                        animation-delay: 0s;
                    }
                    &:nth-child(4) {
                        animation-delay: 0s;
                    }
                    &:nth-child(5) {
                        animation-delay: 0s;
                    }
                    &:nth-child(6) {
                        animation-delay: 0s;
                    }
                }
                &_title {
                    font-size: 20px;
                    margin-top: 10px;
                }
                &_descr {
                    width: 85%; // font-size: 15px;
                }
                &_img {
                    width: 70px;
                    height: 70px;
                    &:after {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }

    .join-system {
        // margin-top: 50px;
        .container {
            padding: 0 20px;
        }
        &__list {
            align-items: initial;
            &_item {
                margin-top: 20px; // flex-wrap: wrap;
                // justify-content: initial;
                display: block;
                height: auto;
                margin: 30px auto;
                $c: &;
                &:nth-child(1) #{$c}_info[data-animate="true"] {
                    animation-delay: 0s;
                }
                &:nth-child(2) #{$c}_info[data-animate="true"] {
                    animation-delay: 0s;
                }
                &:nth-child(3) #{$c}_info[data-animate="true"] {
                    animation-delay: 0s;
                }
                &:nth-child(4) #{$c}_info[data-animate="true"] {
                    animation-delay: 0s;
                }
                &:nth-child(5) #{$c}_info[data-animate="true"] {
                    animation-delay: 0s;
                }
                &:nth-child(6) #{$c}_info[data-animate="true"] {
                    animation-delay: 0s;
                }
                &_img {
                    position: static;
                    margin: auto;
                    max-width: 330px;
                    display: block;
                    width: 100%;
                }
                &_info {
                    left: 190px;
                    width: 100%;
                    padding: 30px 30px 30px 30px;
                    position: relative;
                    top: -70px;
                    text-align: center;
                    left: auto;
                    right: auto;
                    max-width: 300px;
                    height: auto;
                    &_title {}
                    &_descr {
                        max-width: 450px; // margin: auto;
                    }
                }
            }
        }
    }

    .prosperity {
        margin-top: 80px;
        &__list {
            align-items: initial;
            &_item {
                margin-top: 80px;
                width: 100%;
                border: none;
                height: auto;
                padding: 0;
                &:first-child {
                    margin-top: 20px;
                }
                &[data-animate="true"] {
                    &:nth-child(1) {
                        animation-duration: 1s;
                        animation-name: slidein;
                        animation-delay: 0s;
                    }
                    &:nth-child(2) {
                        animation-duration: 1s;
                        animation-name: slidein;
                        animation-delay: 0s;
                    }
                    &:nth-child(3) {
                        animation-duration: 1s;
                        animation-name: slidein;
                        animation-delay: 0s;
                    }
                    &:nth-child(4) {
                        animation-duration: 1s;
                        animation-name: slidein;
                        animation-delay: 0s;
                    }
                }

                &_info {
                    position: static;
                }
                &_number {
                    position: static;
                    text-align: center;
                    line-height: 192px;
                }
                &_title {
                    text-align: center;
                    br {
                        display: none;
                    }
                }
                .btn {
                    margin: 36px auto 0;
                    display: block;
                }
                &_descr {
                    padding: 0;
                    text-align: center;
                    width: 45%;
                    margin: 20px auto 0;
                }
            }
        }
    }


    .sign-up {
        &.secondary {
            margin-top: 80px;
        }
        .container {
            flex-wrap: wrap;
            min-height: auto;
        }
        &__form {
            width: 100%;
            padding: 120px 80px;
            form {
                width: 550px;
            }
            &_title {
                h1 {
                    font-size: 56px;
                }
            }
            &_descr {
                font-size: 22px;
            }
            &_input {
                width: 450px;
                padding: 27px 35px;
            }
        }
        &__bg {
            height: 500px;
            width: 100%;
        }
    }
    .prosperity {
        margin-top: 0;
        margin-bottom: 60px;
    }
    .facts,
    .contacts {
        margin-top: 80px;
    }
    .success {
        margin-top: 80px;
    }

    .facts {
        margin-top: 80px;
        padding-bottom: 20px;
        .container {
            flex-wrap: wrap;
            padding-top: 60px;
        }
        &__counter {
            width: 100%;
            &_item {
                margin-bottom: 20px;
            }
            &>div {
                width: 100%;
            }
        }
        &__slide {
            margin-top: 60px;
            width: 100%;
            padding: 0;
            display: flex;
            justify-content: center;
        }
    }


    nav {
        display: none;
    }

    footer {
        .copyright {}
        .footer-links {
            &__item {
                margin-right: 10px;
                margin-left: 0;
                a {
                    font-size: 14px;
                }
            }
        }
    }

    .slider {
        height: 400px;
        margin-top: 120px;
        &__controls_item {
            width: 10px;
            min-width: 10px;
            height: 10px;
            min-height: 10px;
        }
        &__item {
            width: 100%;
            &.slideOutUpLeft,
            &.slideOutUpRight {
                margin-left: 0!important;
                animation-delay: 0s;
            }
        }

        .slider__controls {
            bottom: 40px;
        }
    }
}

@media screen and (max-width: 980px) {
    .top-block__info {
        &_title {
            font-size: 32px;
        }
        &_descr {}
        .btn {}
        &_wrapper {
            padding: 110px 76px;
        }
    }
    .audience {
        &__list {
            &_item {
                padding: 60px 55px;
            }
        }
    }
    .reasons__list_item_descr {
        width: 91%;
    }

    .contacts .container {
        width: 100%;
    }
}


//MOBILE
@media screen and (max-width: 768px) {
    .title h1 {
        font-size: 28px;
    }
    .top-block {
        padding-top: 0;
    }
    .top-block__info_descr {
        font-size: 21px;
    }
    .top-block__info_title {
        // font-size: 36px;
    }
    .top-block__info_wrapper {
        padding: 110px 25px;
    }
    .reasons__list {
        margin-top: 60px;
    }
    .reasons__list_item {
        margin-bottom: 40px;
    }
    .reasons__list_item_descr {
        font-size: 16px;
    }
    .audience__list {
        margin-top: 60px;
    }
    .audience__list_item {
        padding: 30px 55px;
    }
    .sign-up__form_descr {
        width: 70%;
    }
    .facts__slide_img:after {
        content: none;
    }

    .join-system .container {
        padding: 0 20px;
    }
    .prosperity__list {
        margin-top: 40px;
    }
    .prosperity__list_item {
        margin-top: 60px;
    }
    .prosperity__list_item_descr {
        width: 55%;
    }

    .join-system {
        &__list {
            display: block;
            margin-top: 50px;
            &_item {
                width: 100%;
                margin: auto;
                &_img {}
                &_info {
                    top: -70px;
                    padding-bottom: 0;
                    margin: auto; // max-width: 100%;
                    // padding: 30px 25px;
                    &_title {
                        br {
                            display: none;
                        }
                    }
                    &_descr {
                        margin: 16px auto;
                    }
                }
            }
        }
    }
    .sign-up__form_title h1 {
        font-size: 50px;
    }
    .sign-up__form_descr {
        width: 80%;
    }
    .facts__slide_img:after {
        content: none;
    }

    footer {
        .footer-links {
            width: 100%;
            flex-wrap: wrap;
            margin-top: 15px;
            &__item:first-child {
                margin-bottom: 10px;
            }
        }
    }

    .reasons,
    .facts .container {
        padding-top: 60px;
    }
    .join-system,
    .facts,
    .sign-up.secondary,
    .contacts {
        margin-top: 60px;
    }
    .success {
        margin-top: 40px;
    }
    .contacts {
        margin-bottom: 60px;
        &__img {
            margin: 60px auto 0;
        }
    }
}

@media screen and (max-width: 720px) {
    .top-block__info_title {
        font-size: 30px;
    }

    .audience__list_item {
        padding: 30px 50px;
    }

    .reasons__list_item_descr {
        width: 95%;
    }
    .contacts {
        margin-bottom: 40px;
    }
    .contacts__img img {
        margin: auto;
        display: block;
    }

    .contacts__info {
        position: relative;
        top: -70px;
        left: 0;
        right: 0;
        padding: 76px 30px 0px 30px;
        width: 360px;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .title h1 {
        font-size: 26px;
    }
    .top-block__info_wrapper {
        padding: 60px 25px;
    }
    .top-block__info_title {
        font-size: 26px;
    }
    .top-block__info_descr {
        width: 90%;
        font-size: 16px;
        margin: 35px auto 0;
    }
    .audience {
        &__list {
            &_item {
                width: 100%;
                padding: 30px 20px;
                &_descr {
                    text-align: center;
                }
            }
        }
    }

    .sign-up {
        &__form {
            padding: 60px;
            form {
                width: 100%;
            }
            &_title {
                h1 {
                    // text-align: center;
                    font-size: 34px;
                }
                &:before {
                    // left: 15px;
                    top: -4px;
                }
            }
            &_descr {
                // text-align: center;  text-align: center;
                width: 90%;
            }
            &_pre {
                margin-top: 50px;
            }
            .btn {
                // margin: 30px auto 20px;
                display: block;
            }
            &_input {
                width: 100%;
            }
            .btn {
                padding: 27px 30px;
            }
        }
    }

    .reasons {
        .container {
            padding: 0 45px;
        }
        &__list {
            &_item {
                width: 100%;
                margin-bottom: 40px;
                &_descr {
                    width: 97%;
                }
            }
        }
    }

    .facts {
        &__counter {
            width: 100%;
            &_item {
                margin-bottom: 20px;
                flex-wrap: wrap;
                flex-direction: column-reverse;
                $c: &;
                transform: translateY(100px);
                &[data-animate="true"] #{$c}_amount {
                    transform: translateY(0); // visibility: visible;
                }
                &_title,
                &_descr,
                &_amount {
                    text-align: center;
                }
                &_title {
                    margin: 0;
                }
                &_amount {
                    font-size: 72px;
                }
                &_more {
                    text-align: center;
                    margin-top: 20px;
                    display: block;
                }
                &_descr {
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
                &_col {
                    width: 100%;
                }
            }
            &>div {
                width: 100%;
            }
        }
    }

    .success {
        .container {
            padding: 0 20px;
        }
    }
    .reasons,
    .facts .container {
        padding-top: 60px;
    }
}

@media screen and (max-width: 480px) {
    .title h1 {
        font-size: 22px;
    }
    .top-block__info_wrapper {
        padding: 30px 30px;
    }
    .top-block {
        padding: 0;
        .container {
            padding: 0;
        }
        header {
            top: 0;
            padding: 0;
            .container {
                padding: 0 20px;
            }
        }
    }
    .audience__list_item_title {
        font-size: 22px;
    }
    .audience__list_item_descr {
        font-size: 14px;
    }
    .top-block__info_title {
        font-size: 27px;
    }
    .top-block__info_descr {
        font-size: 14px;
    }
    .join-system__list_item_info_descr {
        font-size: 14px;
    }
    .reasons .container {
        padding: 0 20px;
    }
    .reasons__list_item_title {
        font-size: 18px;
    }
    .reasons__list_item_descr {
        font-size: 14px;
        width: 100%;
    }
    .slider__item>div {
        padding: 0 20px;
    }
    .slider__item_descr {
        margin-top: 60px;
        font-size: 14px;
    }
    .slider__item_name {
        margin-top: 15px;
    }
    .prosperity__list_item_title {
        font-size: 20px;
    }
    .prosperity__list_item_descr {
        font-size: 14px;
    }
    .sign-up__form_title h1 {
        font-size: 30px;
    }
    .sign-up__form_pre {
        // font-size: 14px;
    }
    .sign-up__form .btn {
        width: 100%;
    }
    .sign-up__form_descr {
        font-size: 18px;
        width: 100%;
    }
    .facts__counter_item_descr {
        font-size: 14px;
    }
    .facts__counter_item_title {
        font-size: 22px;
    }
    .facts__slide {
        margin-top: 40px;
    }
    footer .container {
        justify-content: center;
        font-size: 14px;
        .copyright {
            font-size: 14px;
        }
        .footer-links {
            justify-content: center;
        }
    }
    .sign-up__form {
        padding: 60px 30px;
    }

    .contacts__img img {
        max-width: 100%;
        max-height: 100%;
    }
    .contacts__info {
        max-width: 360px;
        width: 100%;
    }
    .facts .container {
        padding-top: 40px;
    }
}


@media screen and (max-width: 375px) {
    .top-block__info_title {
        font-size: 24px;
    }

    .top-block__info_wrapper {
        padding: 30px 10px;
    }
    .slider__item_descr {
        line-height: 18px;
    }
    .contacts__info_name {
        font-size: 24px;
        margin-bottom: 40px;
    }
    .contacts__info {

    }
    .contacts__info_text {
        font-size: 16px;
    }

    .contacts {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 320px) {
    .title h1 {
        font-size: 20px;
    }
    .top-block__info_title {
        font-size: 22px;
    }

    .audience__list_item {
        padding: 30px 10px;
    }
    .reasons__list_item_descr {
        width: 100%;
    }
    .reasons__list_item_title {
        font-size: 16px;
    }
    .join-system__list_item_info_title {
        font-size: 16px;
    }

    .prosperity__list_item_title {
        font-size: 16px;
    }
    .prosperity__list_item_descr {
        width: 85%;
    }
    .prosperity__list_item_number {
        font-size: 180px;
    }
    .prosperity__list_item {
        margin-top: 40px;
    }
    .sign-up__form_title h1 {
        font-size: 28px;
    }
    .sign-up__form_descr {
        font-size: 16px;
        width: 100%;
    }

    .facts .container {
        padding-top: 40px;
    }
}