/* MOBILES */

.desktop {
    display: block;
}

.mobile {
    display: none;
}

@media screen and (max-width: 1600px) {
    .top-block__info_title {
        font-size: 30px;
        line-height: 40px;
    }
    .top-block__info_descr {
        // margin-top: 20px;
        line-height: 24px;
    }
    .top-block__info_wrapper {
        padding: 100px 35px 100px 50px;
    }
    .sign-up__form_title h1 {
        font-size: 64px;
    }

    .join-system__list_item_info {
        width: 65%;
        padding: 38px 34px 66px 33px;
    }
}

@media screen and (max-width: 1400px) {
    .sign-up__form_title h1 {
        font-size: 56px;
    }

    .join-system__list_item_info {
        width: 57%;
    }


    .slider {
        // display: none;
        &__scroller {
            flex-wrap: wrap;
        }
        &__arrows {
            display: none;
        }
        &__controls_item {
            width: 10px;
            min-width: 10px;
            height: 10px;
            min-height: 10px;
        }
        &__item {
            width: calc(100%/2 - 20px);
            &.slideOutUpLeft, &.slideOutUpRight {
                &:nth-child(2n + 1) {
                    margin-left: 0;
                }
                &:nth-child(2n + 2) {
                    margin-left: calc(100%/2 + 15px);
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .top-block__info_descr {
        margin-top: 20px;
    }
    .reasons__list_item_title {
        font-size: 20px;
        line-height: 22px;
        margin-top: 36px;
    }
    .audience {
        &__list {
            &_item {
                width: 50%;
                padding: 60px 30px;
                border: none;
                &_img {
                    margin: auto;
                    background-position: center!important;
                }
                &_title,
                &_descr {
                    text-align: center;
                }
            }
        }
    }
    .join-system {
        margin-top: 60px;
        .container {
            padding: 0 20px;
        }
        &__list {

            &_item {

                margin-top: 40px;
                width: 48%;
                $c: &;
                &:hover {
                    #{$c}_info {
                        background: #fff;
                        &_title {
                            color: initial;
                        }
                        &_descr {
                            color: initial;
                        }
                    }
                }

                &_info {
                    width: 80%;
                    padding: 35px;
                    &_title {
                        margin-top: 0;
                    }
                }
                &_img {
                    position: static; // max-width: 100%;
                }
            }
        }
    }

    .prosperity {
        margin-top: 60px;
        &__list {
            align-items: initial;
            &_item {
                width: 50%;
                height: auto;
                padding: 20px;
                border: none;
                margin-top: 0px;
                &[data-animate="true"] {
                    &:nth-child(1) {
                        animation-duration: 1s;
                        animation-name: slidein;
                        animation-delay: 0s;
                    }
                    &:nth-child(2) {
                        animation-duration: 1s;
                        animation-name: slidein;
                        animation-delay: 0s;
                    }
                    &:nth-child(3) {
                        animation-duration: 1s;
                        animation-name: slidein;
                        animation-delay: 0s;
                    }
                    &:nth-child(4) {
                        animation-duration: 1s;
                        animation-name: slidein;
                        animation-delay: 0s;
                    }
                }

                .btn {
                    margin: 30px auto 0;
                    display: block;
                }
                &_number {
                    position: static;
                    font-size: 200px;
                    line-height: initial;
                    text-align: center;
                }
                &_title,
                &_descr {
                    text-align: center;
                    padding: 0;
                }
                &_info {
                    position: static;
                }
            }
        }
    }

    .sign-up__form {
        padding-left: 50px;
    }
    .sign-up__form_title h1 {
        font-size: 48px;
    }

    .facts {
        margin-top: 60px;
        .container {
            flex-wrap: wrap;
            padding-top: 20px;
        }
        &__counter {
            width: 100%;
            &_item {
                margin-bottom: 20px;
                &_amount {
                    font-size: 72px;
                }
            }
            &>div {
                width: 100%;
            }
        }
        &__slide {
            width: 100%;
            padding: 0;
        }
    }

    .success {
        margin-top: 60px;
        .container {
            padding: 0 20px;
        }
    }


    .contacts {
        margin-top: 60px;
        .container {
            width: 100%;
        }
    }

    footer {
        .top-arrow {
            // top: -50px;
            display: none;
        }
    }
}


@media screen and (min-width: 980px) {
    .dropdown-menu {
        display: none;
    }
}

@media screen and (max-width: 980px) {
    header {
        .container {
            padding: 0 20px;
        }
        .logo {

            width: auto;
        }
        .hamburger {
            display: block;
        }
    }
    .title {
        font-size: 36px;
        line-height: 52px;
        padding: 0 10px;
        h1 {
            font-size: 36px;
        }
    }
    .top-block {
        height: auto;
        min-height: initial;
    }
    .top-block__info {
        width: 100%;
        position: static;
        align-items: initial;
        height: initial;

        &_title {
            padding: 0;
            font-size: 28px;
            line-height: 40px;
            &:before {
                content: none;
            }
            &[data-animate="true"] {
                animation-duration: 1.5s;
            }
        }
        &_descr {
            margin-top: 40px;
            width: 100%;
            text-align: center;
            &[data-animate="true"] {
                animation-duration: 2s;
            }
        }
        .btn {
            margin: 40px auto 0;
            display: block;
            padding: 27px 30px;
            &[data-animate="true"] {
                animation-duration: 1s;
                animation-delay: 0s;
            }
        }
        &_wrapper {
            width: 100%;
            padding: 40px 20px;
        }
    }

    .reasons {
        padding-top: 60px;
        .container {
            padding: 0 20px;
        }
        &__list {
            margin-top: 60px;
            &_item {
                padding-left: 55px;
                width: 100%;
                margin-bottom: 30px;
                $c: &;
                &[data-animate="true"] {
                    &:nth-child(1) {
                        animation-delay: 0s;
                    }
                    &:nth-child(2) {
                        animation-delay: 0s;
                    }
                    &:nth-child(3) {
                        animation-delay: 0s;
                    }
                    &:nth-child(4) {
                        animation-delay: 0s;
                    }
                    &:nth-child(5) {
                        animation-delay: 0s;
                    }
                    &:nth-child(6) {
                        animation-delay: 0s;
                    }
                }
                &_title {
                    font-size: 20px;
                    line-height: 26px;
                    margin-top: 10px;
                }
                &_descr {
                    width: 100%;
                }
                &_img {
                    width: 70px;
                    height: 70px;
                }
            }
        }
    }

    .sign-up {
        .container {
            flex-wrap: wrap;
            min-height: auto;
        }
        &__form {
            width: 100%;
            padding: 70px 50px;
            &_title {
                h1 {
                    font-size: 40px;
                }
            }
            &_descr {
                font-size: 20px;
            }
        }
        &__bg {
            height: 500px;
            width: 100%;
        }
    }

    nav {
        display: none;
    }

    footer {
        .footer-links {
            width: 100%;
            justify-content: space-between;
            margin-top: 20px;
            &__item {
                margin-right: 10px;
                margin-left: 0;
                a {
                    font-size: 14px;
                }
            }
        }
    }

    .slider {
        &__item {
            width: 100%;
            &.slideOutUpLeft, &.slideOutUpRight {
                margin-left: 0!important;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .top-block__info_title {
        text-align: center;
    }
    .audience {
        &__list {
            &_item {
                width: 100%;
                padding: 30px 20px;
                &_descr {
                    text-align: center;
                }
            }
        }
    }

    .join-system {
        margin-top: 50px;
        &__list {

            &_item {
                margin-top: 20px;
                width: 100%;
                flex-wrap: wrap;
                height: auto;
                width: 100%;

                &_img {
                    margin: auto;
                }
                &_info {
                    padding-top: 10px;
                    width: 100%;
                    position: relative;
                    top: -70px;
                    text-align: center;
                }
            }
        }
    }

    .prosperity {
        margin-top: 50px;
        &__list {
            align-items: initial;
            &_item {
                // margin-top: 20px;
                width: 100%;
            }
        }
    }

    .sign-up {
        &__form {
            padding: 20px;
            form {
                width: 100%;
            }
            &_title {
                h1 {
                    // text-align: center;
                    font-size: 26px;
                }
                &:before {
                    // left: 15px;
                    top: 8px;
                }
            }
            &_descr {
                // text-align: center;  text-align: center;
                line-height: 20px;
            }
            &_pre {
                margin-top: 50px;
            }
            .btn {
                margin: 30px auto 20px;
                display: block;
            }
            &_input {
                width: 100%;
            }
            .btn {
                padding: 27px 30px;
            }
        }
    }

    .facts {
        &__counter {
            width: 100%;
            &_item {
                margin-bottom: 20px;
                flex-wrap: wrap;
                flex-direction: column-reverse;
                $c: &;
                transform: translateY(100px);
                &[data-animate="true"] #{$c}_amount {
                    transform: translateY(0); // visibility: visible;
                }
                &_title,
                &_descr,
                &_amount {
                    text-align: center;
                }
                &_title {
                    margin: 0;
                }
                &_amount {
                    font-size: 72px;
                    line-height: 72px;
                }
                &_more {
                    text-align: center;
                    margin-top: 20px;
                    display: block;
                }
                &_descr {
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
                &_col {
                    width: 100%;
                }
            }
            &>div {
                width: 100%;
            }
        }
    }

    .contacts {
        margin-bottom: 20px;
        .container {
            width: 100%;
        }
        &__img {
            max-width: 100%;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        &__info {
            width: 100%;
            padding: 20px;
            position: static;
            &_name {
                text-align: center;
            }
            &_text {
                // text-align: center;
            }
        }
    }
    .success {
        .container {
            padding: 0 20px;
        }
    }
}

@media screen and (max-width: 480px) {
    .title h1 {
        font-size: 26px;
    }

    .top-block {
        padding: 0;
        .container {
            padding: 0;
        }
        header {
            padding: 0;
            .container {
                padding: 0 20px;
            }
        }
    }
    .top-block__info_title {
        // font-size: 20px;
    }
    .slider__item>div {
        padding: 0 20px;
    }
    .slider__item_descr {
        margin-top: 60px;
        font-size: 14px;
        line-height: 18px;
    }
    .slider__item_name {
        margin-top: 15px;
    }
}