.slider {
    margin-top: 169px;
    position: relative;
    height: 427px;
    &__wrapper {
        position: relative; // overflow: hidden;
        // padding-top: 50px;
        // padding-bottom: 50px;
        // height: 427px;
    }
    &__scroller {
        display: flex;
        justify-content: space-between; // transition: 0.2s; // height: 427px;
    }
    &__arrows {
        &_left,
        &_right {
            position: absolute;
            top: -120px;
            bottom: 0;
            margin: auto;
            width: 23px;
            height: 23px;
            background: red;
            background-size: cover!important;
            cursor: pointer;
            transition: 0.3s;
        }
        &_left {
            left: -35px;
            transform: rotate(-90deg);
            background: url(img/long-arrow-pointing-black.svg);
            &:hover {
                background: url(img/long-arrow-pointing-black-active.svg);
            }
        }
        &_right {
            right: -35px;
            transform: rotate(90deg);
            background: url(img/long-arrow-pointing-black.svg);
            &:hover {
                background: url(img/long-arrow-pointing-black-active.svg);
            }
        }
    }
    &__controls {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 22px;
        width: 200px;
        margin: auto;
        left: 0;
        right: 0;
        align-items: center;
        &_item {
            width: 6px;
            min-width: 6px;
            height: 6px;
            min-height: 6px;
            background: #fe90b0;
            border-radius: 100%;
            margin: 0 10px;
            transition: 0.2s;
            cursor: pointer;
            &.active {
                transform: scale(1.7);
                background: #ed2984;
            }
        }
    }

    &__item {

        position: relative;
        width: calc(100%/3 - 20px);
        height: 285px;
        display: none;
        >div {
            position: absolute;
            z-index: 0;
            width: 100%;
            left: 0;
            top: 0;
            height: 100%;
            padding: 0 33px;
            background: #fe90b0;
        }
        &.slideOutUpLeft, &.slideOutUpRight {
            z-index: 1000;
            position: absolute;


            &:after,
            &:before {
                content: none;
            }
            &:nth-child(3n + 1) {
                margin-left: 0;
            }
            &:nth-child(3n + 2) {
                margin-left: calc(100%/3 + 15px);
            }
            &:nth-child(3n + 3) {
                margin-left: calc((100%/3)*2 + 15px);
            }
        }

        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            width: 96%;
            margin: auto;
            left: 0;
            right: 0;
            bottom: -6px;
            background: #dc7d99;
            height: 96%;
        }
        &:after {
            content: '';
            position: absolute;
            z-index: -2;
            width: 93%;
            margin: auto;
            left: 0;
            right: 0;
            bottom: -12px;
            background: #c26e87;
            height: 93%;
        }
        &.active {
            display: block;

            &:not(.slideOutUpLeft) > div,  &:not(.slideOutUpRight) > div{
                animation-duration: 1s;
                animation-fill-mode: both;
                animation-name: scaleIn;
                transition-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
            }
        }

        &_descr {
            font-size: 16px;
            color: #fff;
            margin-top: 74px;
            text-align: center;
            line-height: 24px;
        }
        &_name {
            margin-top: 22px;
            font-weight: 600;
            text-align: center;
        }
        img {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: -56px;
        }
    }
}




@keyframes slideOutUpLeft {
    from {
        transform: translate3d(0, 0, 0) rotate(0deg) scale(1);
        opacity: 1;
    }

    to {
        visibility: hidden;
        transform: translate3d(-50%, -100%, 0) rotate(-45deg) scale(0.7);
        opacity: 0;
    }
}

@keyframes slideOutUpRight {
    from {
        transform: translate3d(0, 0, 0) rotate(0deg) scale(1);
        opacity: 1;
    }

    to {
        visibility: hidden;
        transform: translate3d(50%, -100%, 0) rotate(45deg) scale(0.7);
        opacity: 0;
    }
}


@keyframes scaleIn {
    from {
        transform: scale(0.98) translateY(8px);
    }

    to {
        transform: scale(1) translateY(0px);
    }
}

.scaleIn {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: scaleIn;
    transition-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.slideOutUpLeft {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: slideOutUpLeft;
    transition-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.slideOutUpRight {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: slideOutUpRight;
    transition-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
}