* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.flex {
  display: flex !important; }

.flex-1 {
  flex: 1; }

.inline-flex {
  display: inline-flex; }

.block {
  display: block; }

.inline-block {
  display: inline-block !important; }

.bold {
  font-weight: 600; }

.j-c-s-b {
  justify-content: space-between; }

.a-i-c {
  align-items: center; }

.relative {
  position: relative; }

.full-width {
  width: 100% !important; }

.pointer {
  cursor: pointer; }

.italic {
  font-style: italic; }

.underline:hover {
  text-decoration: underline; }

.colx2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .colx2 .col-item {
    width: 48%; }

.hidden {
  display: none !important; }

.top-0 {
  top: 0 !important; }

.width-180px {
  width: 180px; }

.text-left {
  text-align: left !important; }

.t-right {
  text-align: right; }

.text-right {
  text-align: right !important; }

.nowrap {
  white-space: nowrap; }

/* MARGINS */
.mt-0 {
  margin-top: 0px !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.ml-0 {
  margin-left: 0px !important; }

.mr-0 {
  margin-right: 0px !important; }

.pl-0 {
  padding-left: 0px !important; }

.mt-5 {
  margin-top: 5px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.ml-5 {
  margin-left: 5px !important; }

.mr-5 {
  margin-right: 5px !important; }

.pl-5 {
  padding-left: 5px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.ml-10 {
  margin-left: 10px !important; }

.mr-10 {
  margin-right: 10px !important; }

.pl-10 {
  padding-left: 10px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.ml-15 {
  margin-left: 15px !important; }

.mr-15 {
  margin-right: 15px !important; }

.pl-15 {
  padding-left: 15px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.ml-20 {
  margin-left: 20px !important; }

.mr-20 {
  margin-right: 20px !important; }

.pl-20 {
  padding-left: 20px !important; }

.mt-25 {
  margin-top: 25px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.ml-25 {
  margin-left: 25px !important; }

.mr-25 {
  margin-right: 25px !important; }

.pl-25 {
  padding-left: 25px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.ml-30 {
  margin-left: 30px !important; }

.mr-30 {
  margin-right: 30px !important; }

.pl-30 {
  padding-left: 30px !important; }

.mt-35 {
  margin-top: 35px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.ml-35 {
  margin-left: 35px !important; }

.mr-35 {
  margin-right: 35px !important; }

.pl-35 {
  padding-left: 35px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.ml-40 {
  margin-left: 40px !important; }

.mr-40 {
  margin-right: 40px !important; }

.pl-40 {
  padding-left: 40px !important; }

.mt-45 {
  margin-top: 45px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.ml-45 {
  margin-left: 45px !important; }

.mr-45 {
  margin-right: 45px !important; }

.pl-45 {
  padding-left: 45px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.ml-50 {
  margin-left: 50px !important; }

.mr-50 {
  margin-right: 50px !important; }

.pl-50 {
  padding-left: 50px !important; }

.mt-55 {
  margin-top: 55px !important; }

.mb-55 {
  margin-bottom: 55px !important; }

.ml-55 {
  margin-left: 55px !important; }

.mr-55 {
  margin-right: 55px !important; }

.pl-55 {
  padding-left: 55px !important; }

.mt-60 {
  margin-top: 60px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

.ml-60 {
  margin-left: 60px !important; }

.mr-60 {
  margin-right: 60px !important; }

.pl-60 {
  padding-left: 60px !important; }

.mt-65 {
  margin-top: 65px !important; }

.mb-65 {
  margin-bottom: 65px !important; }

.ml-65 {
  margin-left: 65px !important; }

.mr-65 {
  margin-right: 65px !important; }

.pl-65 {
  padding-left: 65px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.ml-70 {
  margin-left: 70px !important; }

.mr-70 {
  margin-right: 70px !important; }

.pl-70 {
  padding-left: 70px !important; }

.mt-75 {
  margin-top: 75px !important; }

.mb-75 {
  margin-bottom: 75px !important; }

.ml-75 {
  margin-left: 75px !important; }

.mr-75 {
  margin-right: 75px !important; }

.pl-75 {
  padding-left: 75px !important; }

.mt-80 {
  margin-top: 80px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.ml-80 {
  margin-left: 80px !important; }

.mr-80 {
  margin-right: 80px !important; }

.pl-80 {
  padding-left: 80px !important; }

.mt-85 {
  margin-top: 85px !important; }

.mb-85 {
  margin-bottom: 85px !important; }

.ml-85 {
  margin-left: 85px !important; }

.mr-85 {
  margin-right: 85px !important; }

.pl-85 {
  padding-left: 85px !important; }

.mt-90 {
  margin-top: 90px !important; }

.mb-90 {
  margin-bottom: 90px !important; }

.ml-90 {
  margin-left: 90px !important; }

.mr-90 {
  margin-right: 90px !important; }

.pl-90 {
  padding-left: 90px !important; }

.mt-95 {
  margin-top: 95px !important; }

.mb-95 {
  margin-bottom: 95px !important; }

.ml-95 {
  margin-left: 95px !important; }

.mr-95 {
  margin-right: 95px !important; }

.pl-95 {
  padding-left: 95px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-100 {
  margin-left: 100px !important; }

.mr-100 {
  margin-right: 100px !important; }

.pl-100 {
  padding-left: 100px !important; }

/* WIDTH */
.width-0 {
  width: 0% !important; }

.width-5 {
  width: 5% !important; }

.width-10 {
  width: 10% !important; }

.width-15 {
  width: 15% !important; }

.width-20 {
  width: 20% !important; }

.width-25 {
  width: 25% !important; }

.width-30 {
  width: 30% !important; }

.width-35 {
  width: 35% !important; }

.width-40 {
  width: 40% !important; }

.width-45 {
  width: 45% !important; }

.width-50 {
  width: 50% !important; }

.width-55 {
  width: 55% !important; }

.width-60 {
  width: 60% !important; }

.width-65 {
  width: 65% !important; }

.width-70 {
  width: 70% !important; }

.width-75 {
  width: 75% !important; }

.width-80 {
  width: 80% !important; }

.width-85 {
  width: 85% !important; }

.width-90 {
  width: 90% !important; }

.width-95 {
  width: 95% !important; }

.width-100 {
  width: 100% !important; }

.btn {
  border: none;
  padding: 8px 20px;
  outline: none;
  color: #fff;
  font-weight: 300;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  position: relative;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 20px 50px;
  letter-spacing: 2px;
  transition: 0.2s; }
  .btn:active {
    transform: translateY(1px); }
  .btn:focus {
    outline: none; }
  .btn-pink {
    background: #ed2984; }
    .btn-pink:hover {
      background: #d1126b; }

header {
  width: 100%;
  padding-top: 25px;
  position: relative;
  z-index: 100;
  padding: 0 20px; }
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1d1b;
    box-shadow: 0 20px 50px -30px #000;
    padding: 0px 40px;
    max-width: 1140px;
    position: relative; }
  header .logo {
    width: 196px;
    font-size: 0;
    text-align: center;
    padding: 5px 0;
    width: 185px;
    font-size: 0; }
    header .logo img {
      max-width: 60px;
      width: 100%; }
  header nav {
    height: 100%;
    width: 42%; }
    header nav.nav-left ul li {
      margin: 0px 31px 0 10px; }
    header nav.nav-right ul {
      justify-content: flex-end; }
    header nav.nav-right ul li {
      margin: 0px 10px 0px 29px; }
    header nav ul {
      display: flex; }
      header nav ul li {
        padding: 32px 0;
        cursor: pointer;
        white-space: nowrap; }
        header nav ul li a {
          color: #fff;
          display: block;
          height: 100%;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 1.4px;
          transition: 0.2s; }
        header nav ul li:hover a {
          color: #ed2984; }
  header .hamburger {
    display: none;
    width: 30px;
    height: 20px;
    position: static;
    z-index: 10;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    cursor: pointer; }
    header .hamburger.active span {
      background: none; }
      header .hamburger.active span:before {
        top: 0px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      header .hamburger.active span:after {
        top: 0px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    header .hamburger.active + .dropdown-menu {
      opacity: 1;
      visibility: visible;
      top: 70px; }
    header .hamburger span {
      position: relative;
      width: 100%;
      height: 2px;
      display: inline-block;
      background: #fff;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: all .2s linear;
      -moz-transition: all .2s linear;
      -ms-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear; }
      header .hamburger span:before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        left: 0;
        top: -7px;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear; }
      header .hamburger span:after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        left: 0;
        top: 7px;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear; }
  header .dropdown-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    background: #fff;
    padding: 20px;
    left: 0;
    top: 20px;
    transition: 0.2s; }
    header .dropdown-menu ul li a {
      padding: 10px;
      display: block;
      text-align: center; }

body {
  font-family: 'Rubik', sans-serif;
  min-width: 320px; }

a {
  color: black; }

.container {
  width: 100%;
  max-width: 1210px;
  margin: auto;
  padding: 0 20px; }

h1 {
  font-size: 48px; }

.title {
  font-size: 48px;
  text-align: center;
  font-weight: 600;
  line-height: 72px;
  position: relative; }
  .title[data-animate="true"]:before {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible; }
  .title[data-animate="true"] h1 {
    transform: translateY(0);
    opacity: 1;
    visibility: visible; }
  .title-middle {
    font-weight: 400; }
  .title h1 {
    position: relative;
    z-index: 1;
    transform: translateY(150px);
    opacity: 0;
    visibility: hidden;
    transition: 1s ease; }
  .title:before {
    content: '';
    width: 30px;
    height: calc(100% + 5px);
    left: 0;
    background: #fe90b0;
    right: 0;
    margin: auto;
    position: absolute;
    z-index: 0;
    transition: 1s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-300px); }

.top-block {
  background: url(img/main_screen_bg.png) no-repeat;
  height: 100vh;
  position: relative;
  background-size: cover;
  padding-top: 25px;
  min-height: 800px;
  overflow: hidden; }
  .top-block__info {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    background: rgba(255, 255, 255, 0.85);
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    transform: translateX(100%);
    transition: 1s ease; }
    .top-block__info[data-animate="true"] {
      transform: translateX(0); }
    .top-block__info_wrapper {
      width: 86%;
      padding: 191px 50px 100px 130px; }
    .top-block__info_title {
      font-size: 36px;
      line-height: 54px;
      position: relative;
      padding: 12px 0 5px 0;
      opacity: 0;
      animation-fill-mode: forwards; }
      .top-block__info_title[data-animate="true"] {
        animation-duration: 1s;
        animation-name: slidein;
        animation-delay: 1s; }
      .top-block__info_title b {
        display: block; }
      .top-block__info_title:before {
        content: '';
        left: -13px;
        width: 30px;
        height: 100%;
        background: #fff;
        position: absolute;
        top: 3px; }
    .top-block__info_descr {
      margin-top: 82px;
      font-size: 18px;
      width: 80%;
      opacity: 0;
      line-height: 29px;
      animation-fill-mode: forwards; }
      .top-block__info_descr[data-animate="true"] {
        animation-duration: 1s;
        animation-name: slidein;
        animation-delay: 1.5s; }
    .top-block__info .btn {
      opacity: 0;
      animation-fill-mode: forwards;
      margin-top: 22px;
      padding: 27px 74px; }
      .top-block__info .btn[data-animate="true"] {
        animation-duration: 1s;
        animation-name: slidein;
        animation-delay: 2s; }

.reasons {
  padding-top: 121px;
  position: relative;
  padding-bottom: 562px; }
  .reasons .container {
    padding: 0 0px 0 30px;
    max-width: 1200px;
    position: relative;
    z-index: 1; }
  .reasons__girl-bg {
    background: url(img/reasons_bg.png) no-repeat;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-position: center bottom;
    transition: 1.5s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateY(200px); }
    .reasons__girl-bg-animation[data-animate="true"] + .reasons__girl-bg {
      opacity: 1;
      visibility: visible;
      transform: translateY(0); }
  .reasons__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 117px; }
    .reasons__list_item {
      position: relative;
      width: calc(100% / 3 - 0px);
      margin-bottom: 65px;
      padding-left: 83px;
      opacity: 0;
      animation-fill-mode: forwards; }
      .reasons__list_item[data-animate="true"]:nth-child(1) {
        animation-duration: 1s;
        animation-name: slidein;
        animation-delay: 0s; }
      .reasons__list_item[data-animate="true"]:nth-child(2) {
        animation-duration: 1s;
        animation-name: slidein;
        animation-delay: 0.3s; }
      .reasons__list_item[data-animate="true"]:nth-child(3) {
        animation-duration: 1s;
        animation-name: slidein;
        animation-delay: 0.6s; }
      .reasons__list_item[data-animate="true"]:nth-child(4) {
        animation-duration: 1s;
        animation-name: slidein;
        animation-delay: 0s; }
      .reasons__list_item[data-animate="true"]:nth-child(5) {
        animation-duration: 1s;
        animation-name: slidein;
        animation-delay: 0.3s; }
      .reasons__list_item[data-animate="true"]:nth-child(6) {
        animation-duration: 1s;
        animation-name: slidein;
        animation-delay: 0.6s; }
      .reasons__list_item:nth-child(1) .reasons__list_item_img:after {
        background: url(img/official_work.svg) no-repeat; }
      .reasons__list_item:nth-child(2) .reasons__list_item_img:after {
        background: url(img/free_time.svg) no-repeat; }
      .reasons__list_item:nth-child(3) .reasons__list_item_img:after {
        background: url(img/ready-made_system.svg) no-repeat; }
      .reasons__list_item:nth-child(4) .reasons__list_item_img:after {
        background: url(img/step_learning.svg) no-repeat; }
      .reasons__list_item:nth-child(5) .reasons__list_item_img:after {
        background: url(img/world_travel.svg) no-repeat; }
      .reasons__list_item:nth-child(6) .reasons__list_item_img:after {
        background: url(img/official_work.svg) no-repeat; }
      .reasons__list_item_img {
        border-radius: 100%;
        width: 110px;
        position: absolute;
        height: 110px;
        background: #fe90b0;
        top: 0;
        left: 0; }
        .reasons__list_item_img:after {
          content: '';
          background-position: center !important;
          width: 40px;
          height: 40px;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          margin: auto; }
      .reasons__list_item_title {
        font-size: 24px;
        line-height: 34px;
        font-weight: 600;
        margin-top: 20px;
        position: relative;
        letter-spacing: 0.3px; }
      .reasons__list_item_descr {
        margin-top: 21px;
        font-size: 16px;
        line-height: 24px;
        position: relative;
        width: 90%; }

.audience {
  background: url(img/reasons_bg.png) no-repeat;
  background-size: cover;
  min-height: 500px;
  background: #000;
  position: relative;
  z-index: 1; }
  .audience .title {
    color: #fff; }
  .audience__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 87px; }
    .audience__list_item {
      width: calc(100%/4);
      position: relative;
      padding: 120px 50px 115px 6%;
      border-right: 1px solid #333333;
      transition: 1s ease;
      transform: scale(0.6); }
      .audience__list_item[data-animate="true"] {
        transform: scale(1); }
      .audience__list_item:hover {
        background: #fe90b0; }
      .audience__list_item:nth-child(1) .audience__list_item_img {
        background: url(img/mothers.svg) no-repeat; }
      .audience__list_item:nth-child(2) .audience__list_item_img {
        background: url(img/housewife.svg) no-repeat; }
      .audience__list_item:nth-child(3) .audience__list_item_img {
        background: url(img/girls.svg) no-repeat; }
      .audience__list_item:nth-child(4) .audience__list_item_img {
        background: url(img/couple.svg) no-repeat; }
      .audience__list_item_img {
        width: 100px;
        height: 100px;
        top: 0;
        left: 0; }
        .audience__list_item_img:after {
          content: '';
          background-position: center !important;
          width: 40px;
          height: 40px; }
      .audience__list_item_title {
        margin-top: 42px;
        font-size: 30px;
        font-weight: 600;
        color: #ed2984; }
      .audience__list_item_descr {
        margin-top: 35px;
        font-size: 16px;
        color: #fff;
        line-height: 24px;
        font-weight: 300; }

.join-system {
  margin-top: 121px;
  overflow: hidden; }
  .join-system .container {
    max-width: initial;
    padding: 0 85px; }
  .join-system__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 49px; }
    .join-system__list_item {
      width: calc(100%/3 - 15px);
      position: relative;
      height: 445px;
      display: flex;
      align-items: center;
      margin-top: 80px; }
      .join-system__list_item:hover .join-system__list_item_info {
        background: #000; }
        .join-system__list_item:hover .join-system__list_item_info_title {
          color: #ed2984; }
        .join-system__list_item:hover .join-system__list_item_info_descr {
          color: #fff; }
      .join-system__list_item_img {
        font-size: 0;
        width: 100%;
        max-width: 320px;
        position: absolute; }
        .join-system__list_item_img img {
          width: 100%; }
      .join-system__list_item_info {
        width: 57%;
        margin: auto;
        background: #fff;
        padding: 70px 36px 70px 50px;
        position: relative;
        transition: 1s ease;
        visibility: hidden;
        transform: translateX(200px);
        opacity: 0;
        height: 86%;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0; }
        .join-system__list_item_info[data-animate="true"] {
          transform: translateX(0);
          opacity: 1;
          visibility: visible; }
        .join-system__list_item_info_title {
          margin-top: 28px;
          font-size: 18px;
          font-weight: 600;
          color: #000;
          transition: 0.2s ease;
          line-height: 24px; }
        .join-system__list_item_info_descr {
          margin-top: 22px;
          font-size: 16px;
          color: #fff;
          line-height: 24px;
          color: #000;
          transition: 0.2s ease; }

.prosperity {
  margin-top: 121px;
  overflow: hidden; }
  .prosperity .container {
    max-width: initial;
    padding: 0; }
  .prosperity__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 47px; }
    .prosperity__list_item {
      width: calc(100%/4);
      position: relative;
      height: 605px;
      margin-top: 80px;
      padding: 216px 65px 220px 6%;
      border-right: 1px solid #fe90b0;
      opacity: 0;
      visibility: hidden;
      transform: translateX(100%);
      transition: 1s ease;
      animation-fill-mode: forwards; }
      .prosperity__list_item[data-animate="true"]:nth-child(1) {
        animation-duration: 1s;
        animation-name: slideinRight;
        animation-delay: 0s; }
      .prosperity__list_item[data-animate="true"]:nth-child(2) {
        animation-duration: 1s;
        animation-name: slideinRight;
        animation-delay: 0.5s; }
      .prosperity__list_item[data-animate="true"]:nth-child(3) {
        animation-duration: 1s;
        animation-name: slideinRight;
        animation-delay: 1s; }
      .prosperity__list_item[data-animate="true"]:nth-child(4) {
        animation-duration: 1s;
        animation-name: slideinRight;
        animation-delay: 1.5s; }
      .prosperity__list_item:last-child {
        border: none; }
      .prosperity__list_item:hover .prosperity__list_item_number {
        color: #ed2984; }
      .prosperity__list_item_number {
        font-size: 270px;
        top: 33px;
        position: absolute;
        color: #ffd5e1;
        line-height: 0;
        left: -54px;
        z-index: -1;
        transition: 0.2s ease; }
      .prosperity__list_item_info {
        position: relative;
        position: absolute; }
      .prosperity__list_item .btn {
        margin-top: 36px;
        padding: 17px 30px;
        letter-spacing: 2.4px; }
      .prosperity__list_item_title {
        font-size: 30px;
        font-weight: 600;
        color: #000;
        transition: 0.2s ease;
        line-height: 34px; }
      .prosperity__list_item_descr {
        margin-top: 33px;
        font-size: 16px;
        color: #fff;
        line-height: 24px;
        color: #000;
        padding: 0 87px 0 0;
        transition: 0.2s ease; }

.sign-up {
  overflow: hidden; }
  .sign-up .container {
    display: flex;
    padding: 0;
    max-width: initial;
    min-height: 924px; }
  .sign-up__form {
    width: 50%;
    background: #fe90b0;
    padding: 210px 35px 181px 107px;
    display: flex;
    align-items: center;
    opacity: 0;
    animation-fill-mode: forwards; }
    .sign-up__form[data-animate="true"] {
      animation-duration: 1s;
      animation-name: slideinLeft;
      animation-delay: 0s; }
    .sign-up__form.secondary[data-animate="true"] {
      animation-name: slideinRight; }
    .sign-up__form.secondary .sign-up__form_title {
      animation-name: slideinRight; }
    .sign-up__form form {
      width: 90%; }
    .sign-up__form_title {
      font-size: 72px;
      font-weight: 800;
      position: relative;
      opacity: 0;
      animation-fill-mode: forwards; }
      .sign-up__form_title[data-animate="true"] {
        animation-duration: 1.5s;
        animation-name: slideinLeft;
        animation-delay: 0s; }
      .sign-up__form_title:before {
        content: '';
        left: -13px;
        width: 30px;
        height: calc(100% + 22px);
        background: #fff;
        position: absolute;
        top: -10px;
        z-index: 0; }
      .sign-up__form_title h1 {
        font-size: 72px;
        position: relative;
        line-height: 81px; }
    .sign-up__form_descr {
      font-size: 30px;
      line-height: 45px;
      font-weight: 400;
      position: relative; }
    .sign-up__form_pre {
      margin-top: 88px;
      margin-bottom: 28px;
      font-size: 18px; }
    .sign-up__form .btn {
      padding: 26px 72px; }
    .sign-up__form_input {
      position: relative;
      border: none;
      margin-bottom: 10px;
      padding: 27px 71px;
      outline: none;
      width: 75%;
      font-size: 12px;
      letter-spacing: 1.7px;
      /* Firefox 19+ */
      /* Firefox 18- */ }
      .sign-up__form_input::-webkit-input-placeholder {
        color: #000; }
      .sign-up__form_input::-moz-placeholder {
        color: #000; }
      .sign-up__form_input:-moz-placeholder {
        color: #000; }
      .sign-up__form_input:-ms-input-placeholder {
        color: #000; }
      .sign-up__form_input.has-error {
        border: 2px solid #ed1c24; }
      .sign-up__form_input.valid {
        border: 2px solid #00a651; }
  .sign-up__bg {
    width: 50%;
    background: url(img/faberlic_cta1.png) no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    animation-fill-mode: forwards; }
    .sign-up__bg[data-animate="true"] {
      animation-duration: 1s;
      animation-name: slideinRight;
      animation-delay: 0s; }
    .sign-up__bg.secondary {
      background: url(img/faberlic_cta2.png) no-repeat;
      background-position: center;
      background-size: cover; }
      .sign-up__bg.secondary[data-animate="true"] {
        animation-name: slideinLeft; }

.facts {
  margin-top: 120px;
  overflow: hidden; }
  .facts .container {
    display: flex;
    padding: 0;
    max-width: initial;
    padding-top: 123px; }
  .facts__counter {
    width: 54%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; }
    .facts__counter > div {
      width: 70%; }
    .facts__counter_item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 56px;
      transition: 1s ease;
      opacity: 0;
      transform: translateX(-200px);
      visibility: hidden; }
      .facts__counter_item[data-animate="true"] {
        opacity: 1;
        transform: translateX(0);
        visibility: visible; }
      .facts__counter_item_col {
        width: 46%; }
      .facts__counter_item_title {
        color: #ed2984;
        font-weight: 600;
        text-align: right;
        margin-top: 30px;
        font-size: 24px; }
      .facts__counter_item_more {
        font-weight: 600; }
      .facts__counter_item_descr {
        text-align: right;
        margin-top: 14px;
        line-height: 23px; }
      .facts__counter_item_amount {
        line-height: 115px;
        color: #ed2984;
        font-size: 108px; }
  .facts__slide {
    width: 46%;
    padding-left: 103px; }
    .facts__slide[data-animate="true"] .facts__slide_img {
      opacity: 1;
      transform: translateX(0);
      visibility: visible; }
    .facts__slide_img {
      position: relative;
      display: inline-block;
      transition: 1s ease;
      opacity: 0;
      visibility: hidden;
      transform: translateX(200px); }
      .facts__slide_img:after {
        content: '';
        position: absolute;
        z-index: -1;
        background: #000;
        left: -50px;
        top: 21px;
        width: 100%;
        height: 100%; }
      .facts__slide_img img {
        max-width: 777px;
        max-height: 500px;
        width: 100%; }

.success {
  margin-top: 192px; }
  .success .container {
    padding: 0 88px;
    max-width: initial; }
  .success__subtitle {
    font-size: 16px;
    margin-top: 24px;
    text-align: center; }

.contacts {
  margin-top: 121px;
  margin-bottom: 120px;
  overflow: hidden; }
  .contacts .container {
    width: 50%;
    margin: auto;
    position: relative; }
    .contacts .container[data-animate="true"] .contacts__img,
    .contacts .container[data-animate="true"] .contacts__info {
      opacity: 1;
      transform: translateX(0);
      visibility: visible; }
  .contacts__img {
    font-size: 0;
    width: 100%;
    max-width: 751px;
    margin: 87px auto 0;
    transition: 1s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-200px); }
    .contacts__img img {
      width: 100%;
      max-width: 400px;
      max-height: 400px; }
  .contacts__info {
    width: 53%;
    margin: auto;
    background: #fff;
    padding: 76px 36px 70px 63px;
    position: relative;
    transition: 0.2s ease;
    opacity: 0;
    height: 86%;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transition: 1s ease;
    transform: translateX(200px); }
    .contacts__info_name {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 56px; }
    .contacts__info_text {
      font-size: 18px;
      margin-bottom: 14px;
      padding-left: 34px;
      cursor: pointer;
      display: flex;
      align-items: center; }
      .contacts__info_text:hover a {
        color: #ed2984; }
      .contacts__info_text:hover .icon-skype {
        background: url(img/skype-logo-active.svg) no-repeat; }
      .contacts__info_text:hover .icon-phone {
        background: url(img/end-call-button-active.svg) no-repeat; }
      .contacts__info_text:hover .icon-email {
        background: url(img/black-envelope-active.svg) no-repeat; }
      .contacts__info_text .icon {
        position: absolute;
        left: -35px;
        transition: 0.3s;
        top: 4px; }
        .contacts__info_text .icon-phone {
          left: -36px; }
        .contacts__info_text .icon-skype {
          left: -34px; }
      .contacts__info_text a {
        position: relative;
        transition: 0.3s; }

@keyframes slidein {
  from {
    transform: translateY(200px);
    opacity: 0;
    visibility: hidden; }
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

@keyframes slideinRight {
  from {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden; }
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

@keyframes slideinLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden; }
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

.slider {
  margin-top: 169px;
  position: relative;
  height: 427px; }
  .slider__wrapper {
    position: relative; }
  .slider__scroller {
    display: flex;
    justify-content: space-between;
    transition: 0.2s; }
  .slider__arrows_left, .slider__arrows_right {
    position: absolute;
    top: -120px;
    bottom: 0;
    margin: auto;
    width: 23px;
    height: 23px;
    background: red;
    background-size: cover !important;
    cursor: pointer;
    transition: 0.3s; }
  .slider__arrows_left {
    left: -35px;
    transform: rotate(-90deg);
    background: url(img/long-arrow-pointing-black.svg); }
    .slider__arrows_left:hover {
      background: url(img/long-arrow-pointing-black-active.svg); }
  .slider__arrows_right {
    right: -35px;
    transform: rotate(90deg);
    background: url(img/long-arrow-pointing-black.svg); }
    .slider__arrows_right:hover {
      background: url(img/long-arrow-pointing-black-active.svg); }
  .slider__controls {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 22px;
    width: 200px;
    margin: auto;
    left: 0;
    right: 0;
    align-items: center; }
    .slider__controls_item {
      width: 6px;
      height: 6px;
      background: #fe90b0;
      border-radius: 100%;
      margin: 0 10px;
      transition: 0.2s;
      cursor: pointer; }
      .slider__controls_item.active {
        transform: scale(1.7);
        background: #ed2984; }
  .slider__group {
    height: 285px;
    width: 100%;
    margin: 0 20px;
    position: relative;
    width: calc(100%/3 - 20px);
    z-index: 1; }
    .slider__group:before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 96%;
      margin: auto;
      left: 0;
      right: 0;
      bottom: -6px;
      background: #dc7d99;
      height: 96%; }
    .slider__group:after {
      content: '';
      position: absolute;
      z-index: -2;
      width: 93%;
      margin: auto;
      left: 0;
      right: 0;
      bottom: -12px;
      background: #c26e87;
      height: 93%; }
  .slider__item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: none;
    background: #fe90b0;
    padding: 0 33px; }
    .slider__item.active {
      display: block; }
    .slider__item_descr {
      font-size: 16px;
      color: #fff;
      margin-top: 74px;
      text-align: center;
      line-height: 24px; }
    .slider__item_name {
      margin-top: 22px;
      font-weight: 600;
      text-align: center; }
    .slider__item img {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: -56px; }

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0) rotate(0deg) scale(1);
    opacity: 1; }
  to {
    visibility: hidden;
    transform: translate3d(-50%, -100%, 0) rotate(-245deg) scale(0);
    opacity: 0.8; } }

.slideOutUp {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: slideOutUp;
  transition-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1, 0.1); }

footer {
  background-color: #000000;
  padding: 28px 0;
  position: relative; }
  footer .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    max-width: 1180px; }
  footer .copyright {
    font-size: 16px;
    font-weight: 300;
    color: #ffffff; }
    footer .copyright__company {
      color: #ed2984; }
  footer .footer-links {
    display: flex; }
    footer .footer-links__item {
      font-weight: 300;
      margin-left: 33px;
      letter-spacing: 0.1px; }
      footer .footer-links__item a {
        color: #ed2984; }
        footer .footer-links__item a:hover {
          text-decoration: underline; }
  footer .top-arrow {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    height: 30px;
    width: 30px;
    margin: auto;
    transition: 0.2s;
    cursor: pointer; }
    footer .top-arrow .icon {
      transition: 0.2s; }
    footer .top-arrow:hover {
      background: #ed2984; }
      footer .top-arrow:hover .icon.icon-top-arrow {
        background: url(img/long-arrow-pointing-up-white.svg) no-repeat; }

.icon {
  display: inline-block; }
  .icon-btn-arrow-down {
    position: relative; }
    .icon-btn-arrow-down:before {
      content: '';
      border: solid #fff;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      margin: -10px 22px 0px 0px;
      display: block; }
  .icon-btn-arrow-right {
    position: relative; }
    .icon-btn-arrow-right:before {
      content: '';
      border: solid #fff;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin: -8px 24px 0px -4px;
      display: block; }
  .icon-skype {
    background: url(img/skype-logo.svg) no-repeat;
    background-size: cover !important;
    width: 14px;
    height: 14px;
    margin-right: 15px; }
  .icon-email {
    background: url(img/black-envelope.svg) no-repeat;
    background-size: cover !important;
    width: 16px;
    height: 16px;
    margin-right: 15px; }
  .icon-phone {
    background: url(img/end-call-button.svg) no-repeat;
    background-size: cover !important;
    width: 17px;
    height: 17px;
    margin-right: 15px;
    transform: rotate(-130deg); }
  .icon-top-arrow {
    background: url(img/long-arrow-pointing-up.svg) no-repeat;
    background-size: cover !important;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto; }

/* MOBILES */
.desktop {
  display: block; }

.mobile {
  display: none; }

@media screen and (max-width: 1600px) {
  .top-block__info_title {
    font-size: 30px;
    line-height: 40px; }
  .top-block__info_descr {
    line-height: 24px; }
  .top-block__info_wrapper {
    padding: 100px 35px 100px 50px; }
  .sign-up__form_title h1 {
    font-size: 64px; } }

@media screen and (max-width: 1400px) {
  .sign-up__form_title h1 {
    font-size: 56px; } }

@media screen and (max-width: 1280px) {
  .top-block__info_descr {
    margin-top: 20px; }
  .reasons__list_item_title {
    font-size: 20px;
    line-height: 22px;
    margin-top: 36px; }
  .audience__list_item {
    width: 50%;
    padding: 60px 30px;
    border: none; }
    .audience__list_item_img {
      margin: auto;
      background-position: center !important; }
    .audience__list_item_title, .audience__list_item_descr {
      text-align: center; }
  .join-system {
    margin-top: 60px; }
    .join-system .container {
      padding: 0 20px; }
    .join-system__list_item {
      margin-top: 40px;
      width: 48%; }
      .join-system__list_item:hover .join-system__list_item_info {
        background: initial; }
        .join-system__list_item:hover .join-system__list_item_info_title {
          color: initial; }
        .join-system__list_item:hover .join-system__list_item_info_descr {
          color: initial; }
      .join-system__list_item_info {
        width: 80%;
        padding: 35px; }
        .join-system__list_item_info_title {
          margin-top: 0; }
      .join-system__list_item_img {
        position: static; }
  .prosperity {
    margin-top: 60px; }
    .prosperity__list {
      align-items: initial; }
      .prosperity__list_item {
        width: 50%;
        height: auto;
        padding: 20px;
        border: none;
        margin-top: 0px; }
        .prosperity__list_item[data-animate="true"]:nth-child(1) {
          animation-duration: 1s;
          animation-name: slidein;
          animation-delay: 0s; }
        .prosperity__list_item[data-animate="true"]:nth-child(2) {
          animation-duration: 1s;
          animation-name: slidein;
          animation-delay: 0s; }
        .prosperity__list_item[data-animate="true"]:nth-child(3) {
          animation-duration: 1s;
          animation-name: slidein;
          animation-delay: 0s; }
        .prosperity__list_item[data-animate="true"]:nth-child(4) {
          animation-duration: 1s;
          animation-name: slidein;
          animation-delay: 0s; }
        .prosperity__list_item .btn {
          margin: 30px auto 0;
          display: block; }
        .prosperity__list_item_number {
          position: static;
          font-size: 200px;
          line-height: initial;
          text-align: center; }
        .prosperity__list_item_title, .prosperity__list_item_descr {
          text-align: center;
          padding: 0; }
        .prosperity__list_item_info {
          position: static; }
  .sign-up__form {
    padding-left: 50px; }
  .sign-up__form_title h1 {
    font-size: 48px; }
  .facts {
    margin-top: 60px; }
    .facts .container {
      flex-wrap: wrap;
      padding-top: 20px; }
    .facts__counter {
      width: 100%; }
      .facts__counter_item {
        margin-bottom: 20px; }
        .facts__counter_item_amount {
          font-size: 72px; }
      .facts__counter > div {
        width: 100%; }
    .facts__slide {
      width: 100%;
      padding: 0; }
  .success {
    margin-top: 60px; }
    .success .container {
      padding: 0 20px; }
  .slider {
    display: none; }
    .slider__wrapper {
      flex-wrap: wrap; }
    .slider__group {
      width: calc(100%/2 - 20px); }
  .contacts {
    margin-top: 60px; }
    .contacts .container {
      width: 100%; }
  footer .top-arrow {
    display: none; } }

@media screen and (min-width: 980px) {
  .dropdown-menu {
    display: none; } }

@media screen and (max-width: 980px) {
  header .container {
    padding: 0 20px; }
  header .logo {
    width: auto; }
  header .hamburger {
    display: block; }
  .title {
    font-size: 36px;
    line-height: 52px;
    padding: 0 10px; }
    .title h1 {
      font-size: 36px; }
  .top-block {
    height: auto;
    min-height: initial; }
  .top-block__info {
    width: 100%;
    position: static;
    align-items: initial;
    height: initial; }
    .top-block__info_title {
      padding: 0;
      font-size: 28px;
      line-height: 40px; }
      .top-block__info_title[data-animate="true"] {
        animation-delay: 1s; }
    .top-block__info_descr {
      margin-top: 40px;
      width: 100%;
      text-align: center; }
      .top-block__info_descr[data-animate="true"] {
        animation-delay: 1s; }
    .top-block__info .btn {
      margin: 40px auto 0;
      display: block;
      padding: 27px 30px; }
      .top-block__info .btn[data-animate="true"] {
        animation-delay: 1s; }
    .top-block__info_wrapper {
      width: 100%;
      padding: 40px 20px; }
  .reasons {
    padding-top: 60px; }
    .reasons .container {
      padding: 0 20px; }
    .reasons__list {
      margin-top: 60px; }
      .reasons__list_item {
        padding-left: 55px;
        width: 100%;
        margin-bottom: 30px; }
        .reasons__list_item[data-animate="true"]:nth-child(1) {
          animation-delay: 0s; }
        .reasons__list_item[data-animate="true"]:nth-child(2) {
          animation-delay: 0s; }
        .reasons__list_item[data-animate="true"]:nth-child(3) {
          animation-delay: 0s; }
        .reasons__list_item[data-animate="true"]:nth-child(4) {
          animation-delay: 0s; }
        .reasons__list_item[data-animate="true"]:nth-child(5) {
          animation-delay: 0s; }
        .reasons__list_item[data-animate="true"]:nth-child(6) {
          animation-delay: 0s; }
        .reasons__list_item_title {
          font-size: 20px;
          line-height: 26px;
          margin-top: 10px; }
        .reasons__list_item_descr {
          width: 100%; }
        .reasons__list_item_img {
          width: 70px;
          height: 70px; }
  .sign-up .container {
    flex-wrap: wrap;
    min-height: auto; }
  .sign-up__form {
    width: 100%;
    padding: 70px 50px; }
    .sign-up__form_title h1 {
      font-size: 40px; }
    .sign-up__form_descr {
      font-size: 20px; }
  .sign-up__bg {
    height: 500px;
    width: 100%; }
  nav {
    display: none; }
  footer .footer-links {
    width: 100%;
    justify-content: space-between;
    margin-top: 20px; }
    footer .footer-links__item {
      margin-right: 10px;
      margin-left: 0; }
      footer .footer-links__item a {
        font-size: 14px; } }

@media screen and (max-width: 600px) {
  .top-block__info_title {
    text-align: center; }
  .audience__list_item {
    width: 100%;
    padding: 30px 20px; }
    .audience__list_item_descr {
      text-align: center; }
  .join-system {
    margin-top: 50px; }
    .join-system__list_item {
      margin-top: 20px;
      width: 100%;
      flex-wrap: wrap;
      height: auto;
      width: 100%; }
      .join-system__list_item_img {
        margin: auto; }
      .join-system__list_item_info {
        padding-top: 10px;
        width: 100%;
        position: static;
        text-align: center; }
  .prosperity {
    margin-top: 50px; }
    .prosperity__list {
      align-items: initial; }
      .prosperity__list_item {
        width: 100%; }
  .sign-up__form {
    padding: 20px; }
    .sign-up__form form {
      width: 100%; }
    .sign-up__form_title h1 {
      font-size: 26px; }
    .sign-up__form_title:before {
      top: 8px; }
    .sign-up__form_descr {
      line-height: 20px; }
    .sign-up__form_pre {
      margin-top: 50px; }
    .sign-up__form .btn {
      margin: 30px auto 20px;
      display: block; }
    .sign-up__form_input {
      width: 100%; }
    .sign-up__form .btn {
      padding: 27px 30px; }
  .facts__counter {
    width: 100%; }
    .facts__counter_item {
      margin-bottom: 20px;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      transform: translateY(100px); }
      .facts__counter_item[data-animate="true"] .facts__counter_item_amount {
        transform: translateY(0); }
      .facts__counter_item_title, .facts__counter_item_descr, .facts__counter_item_amount {
        text-align: center; }
      .facts__counter_item_title {
        margin: 0; }
      .facts__counter_item_amount {
        font-size: 72px;
        line-height: 72px; }
      .facts__counter_item_more {
        text-align: center;
        margin-top: 20px;
        display: block; }
      .facts__counter_item_descr {
        margin-top: 0px;
        margin-bottom: 0px; }
      .facts__counter_item_col {
        width: 100%; }
    .facts__counter > div {
      width: 100%; }
  .contacts {
    margin-bottom: 20px; }
    .contacts .container {
      width: 100%; }
    .contacts__img {
      max-width: 100%; }
      .contacts__img img {
        max-width: 100%;
        max-height: 100%; }
    .contacts__info {
      width: 100%;
      padding: 20px;
      position: static; }
      .contacts__info_name {
        text-align: center; }
  .success .container {
    padding: 0; } }

@media screen and (max-width: 480px) {
  .title h1 {
    font-size: 26px; } }

@font-face {
  font-family: 'Rubik';
  src: url("fonts/Rubik-Light.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 300; }

@font-face {
  font-family: 'Rubik';
  src: url("fonts/Rubik-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 400; }

@font-face {
  font-family: 'Rubik';
  src: url("fonts/Rubik-Medium.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 500; }

@font-face {
  font-family: 'Rubik';
  src: url("fonts/Rubik-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 600; }
